main{
    /*background: url("LUCBackground.jpg") no-repeat center center fixed;*/
    background-color: #2e9bb6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}
/* How to put box/container around text to limit the wrap/length of the paragraph?
p {
    position: relative;
    left: 50px;
}
*/
.img_wrapper {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-columns: repeat(auto-fit,1fr);*/
    grid-gap: 10px;
    background-color: #4bdde2;
    padding-top: 15px;
    color: #444;
  }
  
  .box {
    background-color: #2e9bb6;
    color: black;
    border-radius: 10px;
    padding: 20px;
    font-size: 150%;
    word-wrap: break-word;
  }
  
  .a {
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: center;
    }
    .b {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
    }
    .c {
      grid-column: 3/4;
      grid-row: 1/2;
      text-align: center;
    }
    .d{
        grid-column: 4/5;
        grid-row: 1/2;
        text-align: center;
    }

    .about_wrapper {
        display: grid;
        list-style-type: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /*grid-template-columns: repeat(auto-fit,1fr);*/
        grid-gap: 10px;
        background-color: #4bdde2;
        padding-bottom: 15px;
        color: #444;
      }
      
      .box {
        background-color: #2e9bb6;
        color: black;
        border-radius: 10px;
        padding: 20px;
        font-size: 150%;
        word-wrap: break-word;
      }
      
      .aText {
          grid-column: 1/2;
          grid-row: 2/3;
    
        }
        .bText {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .cText {
          grid-column: 3/4;
          grid-row: 2/3;
        }
        .dText{
            grid-column: 4/5;
            grid-row: 2/3;
        }
    

.header-background{
    /*Add more properties later*/
    background-image: url("HeaderBG.png");
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    color: black;
    text-align: center;
    text-decoration: underline;
}  

footer {
    background-image: url("HeaderBG.png");
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    color: black;
}

.navbar li, .home-directory li{
    display: grid;
    /*display: inline;*/
}

a {
    /*display: inline-block;*/
    display: grid;
    /*padding: .5em;*/
    color: black;
    /*text-decoration: none;*/
    grid-gap: 10px;
}

a:hover {
    text-decoration: underline;
    background-color: #d5f4e6;
    color: black;
    font-size: 20px;
    transition: width 2s, height 2s, transform 2s;
}

img {
    /*Adding our org logo, still needs styling. How to move specific img?*/
    border-radius: 10%;
    position: relative;
    top: 20px;
    left: 10px;
    object-fit: contain; 
    /*or use cover...*/
}

p {
    font-size: large;
    font: Serif;
/*
    width: 600px;
    border: 1px solid #000;
    word-wrap: break-word;
    text-align: center;
*/
}