main {
    /*background: url("LUCBackground.jpg") no-repeat center center fixed
    Take out selector covers within each main of every css file;*/
    background-color: #2e9bb6;
    
}

.header-background{
    /*Add more properties later*/
    background-image: url("/img/HeaderBG.png");
    background-size: cover;
    padding-bottom: 50px;
    color: black;
    text-align: center;
    text-decoration: underline;
    box-sizing: border-box;
}  

footer {
    background-image: url("/img/HeaderBG.png");
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 0px;
    color: black; 
}
.container_gallery {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #69b8cc;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #444;
  }
  
  .image-a, .image-b, .image-c {
    display: flex;
    color: black;
    border-radius: 10px;
    padding: 20px;
  }
  
  .budget1, .budget2, .budget3 {
    width:  365px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
  }

.navbar li, .home-directory li{
    display: grid;
    width: 400px;
    margin: 0 auto;
    padding: 4px;
    border-radius: 3px;
    /*display: inline;*/
}

.WebHeader {
    font-size: 30px;
}

a {
    display: grid;
    color: black;
    grid-gap: 10px;
    transition: all 0.5s ease-out;
}

body {
    background-color: #2e9bb6;
}
a:hover {
    text-decoration: underline;
    background-color: #d5f4e6;
    color: rgb(25, 71, 168);
    font-size: 20px;
}

.pig {
    border-radius: 15px;
    position: relative;
    top: 20px;
    left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    object-fit: contain; 
}

p {
    font-size: large;
    font: Serif;
}
